@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font: 'Roboto', sans-serif;
$primaryColor: rgba(55, 53, 47, 0.76);
$placeholderColor: rgba(0, 0, 0, 0.2);
$indent: 42px;
$rowWidth: calc(100% - 42px);
$wrapperWidth: 60%;
$primaryBackground: rgba(211, 209, 203, 0.24);

@mixin hoverOnControl {
  background: $primaryBackground;
  transition: 0.1s linear;
}

main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font;
  color: $primaryColor;
}

#menu {
  background: #f7f6f3;
  height: 100%;
  width: 260px;
}

#content {
  background: white;
  height: 100%;
  width: calc(100% - 260px);
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    height: 50px;
    width: 100%;
  }
}

#document {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#document-content {
  width: $wrapperWidth;
  height: 100%;
}

#document-header {
  width: 100%;
  height: auto;
}

#document-cover-wrapper {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}

#document-cover {
  width: 100%;
  height: 100%;
}

#document-icon-wrapper {
  height: 50px;
  width: $wrapperWidth;
  position: relative;
  padding-bottom: 20px;
}

#document-icon {
  position: absolute;
  top: -60px;
  left: $indent;
  width: 100px;
  height: 100px;
  border-radius: 7px;
  background: transparent;
  cursor: pointer;
}

#document-icon:hover {
  @include hoverOnControl;
}

// Common styles

* {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: $font;
}

// Title field

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
}

.title-item {
  @include flexEnd;
}

.title-field {
  color: $primaryColor;
  width: $rowWidth;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 600;
}

.title-field::placeholder {
  color: $placeholderColor;
}

// Text field

.text-field::placeholder {
  color: $placeholderColor;
}

.text-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text-field {
  width: $rowWidth;
  font-size: 16px;
  color: $primaryColor;
}

.text-item-controls {
  width: 37px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  opacity: 0;
  transition: 0.3s linear;
}

@mixin controller {
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  img {
    width: 10px;
    opacity: 0.4;
  }
}

.add-item {
  width: 19px;
  @include controller;
}

.move-item {
  width: 16px;
  @include controller;
}

.add-item:hover, .move-item:hover {
  @include hoverOnControl;
}

.text-item-controls:hover {
  opacity: 1;
  transition: 0.1s linear;
}

// Controls styles

#controls {
  @include flexEnd;
  opacity: 0;
  transition: 0.1s linear;
}

#controls:hover {
  opacity: 1;
  transition: 0.1s linear;
}

#controls-items {
  background: white;
  width: $rowWidth;
  height: 30px;
  display: flex;
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 7px;
    img {
      width: 14px;
      height: 14px;
      opacity: 0.5;
    }
    p {
      font-family: $font;
      font-size: 14px;
      margin-left: 5px;
      color: rgba(55, 53, 47, 0.4);
    }
  }
}

#add-cover, #add-comment {
  margin-left: 5px;
}

#controls-items div:hover {
  @include hoverOnControl;
}