@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font: 'Roboto', sans-serif;
$primaryColor: rgba(55, 53, 47, 0.76);
$placeholderColor: rgba(0, 0, 0, 0.2);
$indent: 42px;
$rowWidth: calc(100% - 42px);
$wrapperWidth: 60%;
$primaryBackground: rgba(211, 209, 203, 0.24);

@mixin hoverOnControl {
  background: $primaryBackground;
}

main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font;
  color: $primaryColor;
}

#menu {
  background: #f7f6f3;
  height: 100%;
  width: 260px;
}

#content {
  background: white;
  height: 100%;
  width: calc(100% - 260px);
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    height: 50px;
    width: 100%;
  }
}

#document {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#document-content {
  width: $wrapperWidth;
  height: 100%;
}

#document-header {
  width: 100%;
  height: auto;
}

#document-cover-wrapper {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}

#document-cover {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

#document-cover-content {
  position: relative;
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#document-cover:hover {
  #change-cover {
    opacity: 1;
  }
}

#change-cover {
  transition: 0.1s;
  opacity: 0;
  padding: 4px 6px;
  color: rgba(55, 53, 47, 0.44);
  background: #ffffff;
  font-weight: bold;
  border: 1px solid rgba(55, 53, 47, 0.21);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
}

#cover-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#cover-menu {
  -webkit-box-shadow: -1px 5px 26px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 5px 26px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 5px 26px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  width: 500px;
  padding-bottom: 12px;
  background: white;
  margin-right: 20px;
  margin-top: 220px;
  position: relative;
  z-index: 2;
}

#cover-popup-disabler {
  width: 100%;
  height: 100%;
  position: absolute;
}

#cover-menu-header {
  width: 100%;
  height: 40px;
  box-shadow: rgb(55 53 47 / 9%) 0px 1px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

#cover-menu-header ul {
  list-style-type: none;
  display: flex;
  margin-left: 12px;
  font-size: 14px;
  height: 100%;
}

#cover-menu-header li:last-child {
  margin-left: 12px;
}

#cover-menu-header li {
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(55, 53, 47, 0.85);
  border-color: rgb(55, 53, 47);
  cursor: pointer;
}

#remove-cover {
  margin-right: 20px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: rgba(55, 53, 47, 0.58);
}

.gallery-menu-item {
  width: calc(100% - 24px);
  margin: auto;
}

.gallery-menu-item p {
  margin: 8px 0 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(55, 53, 47, 0.6);
  font-weight: bold;
}

.cover-options {
  display: flex;
}

.cover-options div {
  width: 114px;
  height: 64px;
  background-size: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

#link-menu {
  width: 100%;
}

#link-menu-input {
  width: calc(100% - 36px);
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  background: rgba(242, 241, 238, 0.6);
  padding: 0 5px;
  outline: none;
  border-radius: 3px;
}

#link-menu-input::placeholder {
  color: rgba(0, 0, 0, 0.29);
}

#link-menu-submit {
  width: 300px;
  height: 35px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background: rgb(46, 170, 220);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

#link-menu p {
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.6);
}

// Common styles

* {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: $font;
}

// Title field

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
}

.title-item {
  @include flexEnd;
}

.title-field {
  color: $primaryColor;
  width: $rowWidth;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 600;
}

.title-field::placeholder {
  color: $placeholderColor;
}

// Controls styles

#controls {
  @include flexEnd;
  opacity: 0;
  transition: 0.1s;
}

#controls:hover {
  opacity: 1;
  transition: 0.1s;
}

#controls-items {
  background: white;
  width: $rowWidth;
  height: 30px;
  display: flex;

  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 7px;

    img {
      width: 14px;
      height: 14px;
      opacity: 0.5;
    }

    p {
      font-family: $font;
      font-size: 14px;
      margin-left: 5px;
      color: rgba(55, 53, 47, 0.4);
    }
  }
}

#add-icon, #add-cover {
  margin-right: 5px;
}

#controls-items div:hover {
  @include hoverOnControl;
}

// Emoji

#emoji {
  font-size: 50px;
}

.emoji-picker {
  background: red;
}

#document-icon-wrapper {
  height: 50px;
  width: $wrapperWidth;
  position: relative;
  padding-bottom: 5px;
}

#document-icon {
  position: absolute;
  top: -60px;
  left: $indent;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#document-icon p {
  color: black;
}

#document-icon:hover {
  // @include hoverOnControl;
}

#emoji-finder {
  display: flex;
  width: 300px;
  z-index: 100;

  img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-left: 5px;
  }
}

.emoji-picker-react {
  z-index: 100;
}

#emoji-finder-controls {
  z-index: 100;
}